body {
  background-attachment: fixed;
  background-image: url("images/screen.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
	color: #c6c0b2;
	font-family: "DIN 1451 Std", Engschrift;
	font-size: 25px;
	letter-spacing: 6px;
	margin-top: 250px;
	opacity: .5;
	text-align: center;
	text-transform: uppercase;
}

h2 {
  color: #c6c0b2;
	font-family: "DIN 1451 Std", Engschrift;
	font-size: 90px;
	letter-spacing: 10px;
	margin-bottom: -30px;
	margin-top: 0px;
	text-align: center;
	text-transform:uppercase;
}

h3 {
	color: #c6c0b2;
	font-family: "DIN 1451 Std", Engschrift;
	font-size: 20px;
	letter-spacing: 4px;
	margin-top: 50px;
	opacity: .5;
	text-align: center;
	text-transform: uppercase;
}

img {
	height: auto;
	max-width: 100%;
	opacity: 0.8;
}

p {
	color: #c6c0b2;
	font-family: "DIN 1451 Std", Engschrift;
	font-size: 25px;
	letter-spacing: 2px;
	line-height: 150%;
	margin-top: 50px;
	opacity: .8;
	text-align: center;
}

.paragraphbox {
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	width: 720px;
}

.landscapebox {
	height: 900px;
	margin-bottom: 1300px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.landscape1 {
	height: 300px;
	margin-top: 200px;
	opacity: .5;
	transition: 2s;
	width: 600px;
}

.landscape1:hover {
	opacity: 1;
	transform: scale(1.2);
}

.landscape2 {
	height: 300px;
	margin-bottom: 200px;
	margin-left: 20px;
	margin-top: 400px;
	opacity: .5;
	transition: 2s;
	width: 600px;
}

.landscape2:hover {
	opacity: 1;
	transform: scale(1.2);
}

.landscape3 {
	height: 300px;
	margin-top: 200px;
	margin-bottom: 200px;
	opacity: .5;
	transition: 2s;
	width: 600px;
}

.landscape3:hover {
	opacity: 1;
	transform: scale(1.2);
}

.food1 {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	margin-top: 200px;
	opacity: .5;
	transition: 2s;
	width: 600px;
}

.food1:hover {
	opacity: 1;
	transform: scale(1.2);
}

.food2 {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	margin-top: 400px;
	opacity: .5;
	transition: 2s;
	width: 600px;
}

.food2:hover {
	opacity: 1;
	transform: scale(1.2);
}

.food3 {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	margin-top: 200px;
	opacity: .5;
	transition: 2s;
	width: 600px;
}

.food3:hover {
	opacity: 1;
	transform: scale(1.2);
}

.endline {
	background: #c6c0b2;
	border-radius: 10px;
	height: 5px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
